body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url('images/blurred-sky-with-clouds-background_1051-952.avif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
}
.container{
    background-color: rgb(255, 255, 255);
    min-width: 60vh;
    padding: 20px 5vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}
form{
    display: flex;
    justify-content: space-between;
    
}
#title{
    text-align: center;
    color:solid rgb(45, 45, 45);
}
#city{
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    position: relative;
    text-align: start;
    padding: 0vh 0vh 0vh 3vh;
    font-size: 1.1rem;
}
#Submit{
    background: linear-gradient(115deg, #5bc0ff 10%, #5c59ff 30%, #4a02ff 70%, #796aff 94%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1.5vh;
    transition: 0.4s ease;
    font-size: 1rem;
    font-weight: bold;
}
#Submit:hover{
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    background: linear-gradient(115deg, #5bc0ff 10%,#4a02ff 30%, #5c59ff 70%,  #796aff 90%);
}
#Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.weatherIcon{
    margin: 2vh 0 0 0;
}
.weatherIcon img{
    width: 12vh;
    height: 12vh;
    position: relative;
}
.temperature{
    font-weight: bold;
    margin: 1vh;
    font-size: 2.5rem;
}
.weatherDesc{
    margin: 1vh;
}
.weatherInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vh;
    font-size: 0.9rem;
    margin: 2vh 0 0 0;
}
.weatherInfo div{
    background-color: rgb(204, 204, 204);
    padding: 3vh 4vh;
    border-radius: 5px;
    color: rgb(45, 45, 45);
}